.userProfile {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lavender;
  background-image: url("../images/black-thread-light.png");
}

.name h2 {
  margin: 0;
}
